## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-08-11 22:16:11,broken clouds,42.6001,-73.9662,81.68,53,83,1.01
1,1,Krasnoselkup,RU,2022-08-11 22:26:52,overcast clouds,65.7000,82.4667,47.82,73,98,4.45
2,2,Laguna,US,2022-08-11 22:20:09,clear sky,38.4210,-121.4238,96.35,27,0,8.05
3,3,Patacamaya,BO,2022-08-11 22:26:52,clear sky,-17.2333,-67.9167,55.00,24,0,4.99
4,4,Vestmannaeyjar,IS,2022-08-11 22:26:52,overcast clouds,63.4427,-20.2734,51.46,94,100,13.67

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-08-11 22:16:11,broken clouds,42.6001,-73.9662,81.68,53,83,1.01
12,12,Bengkulu,ID,2022-08-11 22:26:55,scattered clouds,-3.8004,102.2655,76.01,91,40,3.65
13,13,Thompson,CA,2022-08-11 22:26:33,few clouds,55.7435,-97.8558,78.96,44,20,12.66
22,22,Atuona,PF,2022-08-11 22:24:53,scattered clouds,-9.8000,-139.0333,77.22,68,33,25.48
25,25,Kumluca,TR,2022-08-11 22:26:59,clear sky,36.3703,30.2869,81.73,62,0,3.11
29,29,Hasaki,JP,2022-08-11 22:26:37,few clouds,35.7333,140.8333,84.60,81,18,23.11
32,32,Denpasar,ID,2022-08-11 22:25:20,scattered clouds,-8.6500,115.2167,78.46,94,40,9.22
34,34,Butaritari,KI,2022-08-11 22:15:20,overcast clouds,3.0707,172.7902,81.99,75,97,13.06
36,36,Ascension,US,2022-08-11 22:27:02,scattered clouds,30.2169,-90.9001,84.20,84,40,4.61
37,37,Tautira,PF,2022-08-11 22:27:02,light rain,-17.7333,-149.1500,77.32,78,20,14.92

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206 entries, 0 to 662
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              206 non-null    int64
 1   City                 206 non-null    object
 2   Country              206 non-null    object
 3   Date                 206 non-null    object
 4   Current Description  206 non-null    object
 5   Lat                  206 non-null    float64
 6   Lng                  206 non-null    float64
 7   Max Temp             206 non-null    float64
 8   Humidity             206 non-null    int64
 9   Cloudiness           206 non-null    int64
 10  Wind Speed           206 non-null    float64
dtypes: float64(4), int64(3), object(4)
memory usage: 19.3+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace = True)

clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-08-11 22:16:11,broken clouds,42.6001,-73.9662,81.68,53,83,1.01
12,12,Bengkulu,ID,2022-08-11 22:26:55,scattered clouds,-3.8004,102.2655,76.01,91,40,3.65
13,13,Thompson,CA,2022-08-11 22:26:33,few clouds,55.7435,-97.8558,78.96,44,20,12.66
22,22,Atuona,PF,2022-08-11 22:24:53,scattered clouds,-9.8000,-139.0333,77.22,68,33,25.48
25,25,Kumluca,TR,2022-08-11 22:26:59,clear sky,36.3703,30.2869,81.73,62,0,3.11
...,...,...,...,...,...,...,...,...,...,...,...
647,647,Pafos,CY,2022-08-11 22:42:08,clear sky,34.7667,32.4167,76.78,78,0,6.91
648,648,Astoria,US,2022-08-11 22:44:35,clear sky,46.1879,-123.8313,79.59,68,0,11.50
655,655,Marzuq,YE,2022-08-11 22:44:37,overcast clouds,14.4000,46.4667,78.85,65,100,7.63
660,660,Manokwari,ID,2022-08-11 22:44:39,scattered clouds,-0.8667,134.0833,80.49,72,39,1.10
662,662,Macherla,IN,2022-08-11 22:44:39,overcast clouds,16.4833,79.4333,79.99,71,94,13.69

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,81.68,broken clouds,42.6001,-73.9662,
12,Bengkulu,ID,76.01,scattered clouds,-3.8004,102.2655,
13,Thompson,CA,78.96,few clouds,55.7435,-97.8558,
22,Atuona,PF,77.22,scattered clouds,-9.8000,-139.0333,
25,Kumluca,TR,81.73,clear sky,36.3703,30.2869,
29,Hasaki,JP,84.60,few clouds,35.7333,140.8333,
32,Denpasar,ID,78.46,scattered clouds,-8.6500,115.2167,
34,Butaritari,KI,81.99,overcast clouds,3.0707,172.7902,
36,Ascension,US,84.20,scattered clouds,30.2169,-90.9001,
37,Tautira,PF,77.32,light rain,-17.7333,-149.1500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,81.68,broken clouds,42.6001,-73.9662,
12,Bengkulu,ID,76.01,scattered clouds,-3.8004,102.2655,
13,Thompson,CA,78.96,few clouds,55.7435,-97.8558,
22,Atuona,PF,77.22,scattered clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
25,Kumluca,TR,81.73,clear sky,36.3703,30.2869,Akkol Apart
...,...,...,...,...,...,...,...
647,Pafos,CY,76.78,clear sky,34.7667,32.4167,Elysium Hotel
648,Astoria,US,79.59,clear sky,46.1879,-123.8313,
655,Marzuq,YE,78.85,overcast clouds,14.4000,46.4667,
660,Manokwari,ID,80.49,scattered clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
662,Macherla,IN,79.99,overcast clouds,16.4833,79.4333,Vivek express

In [10]:
# 8a. Create the output File (CSV)
output_data = "./Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

In [13]:
# display

fig

Figure(layout=FigureLayout(height='420px'))